{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jquery": true,
  },
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "max-len": "off",
    "no-undef": "off",
    "no-unused-vars": "off",
    "no-loop-func": "off"
  }
}